:root{
    --background-color: #7F7979;
    --card-color: #C1BDB3;
    --under-card-color: #5F5B6B;
    --border-radius-card: 5px;
    --border-radius-under-card: 10px;
    --box-shadow: 1px 5px 5px #3c3744;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive, sans-serif;
}

/*body{*/
/*    background-color: var(--background-color);*/
/*    margin:auto;*/
    /*min-height:100vh;*/
    /*min-width:100vh;*/
    /*display:flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*transform: translateX(-5%);*/
    /*overflow: hidden;*/

/*}*/

body {
    height:100vh;
    background-color: var(--background-color);
    display: flex;
    justify-content: center; /* horizontal centering */
    align-items: center; /* vertical centering */
}

.container{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
.right-part{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap:2rem;
}
.logo h1{
    margin-bottom: 1rem;
}
  img {
      max-width:60%;
      border-radius: 50%;
  }

  input,button{
      background-color: var(--card-color);
      border:none;
      padding:1rem 4rem;
      margin-bottom: 1rem;
      border-radius: var(--border-radius-card);
      box-shadow: var(--box-shadow);
      font-size: 1rem;
  }
 button:hover{
      font-weight: bolder;
  }

  section{
      border-top: 2px solid var(--under-card-color);
      padding-top:1rem;
  }

@media (max-width: 1000px){
    .container{
        flex-direction: column;
    }
}
