:root{
    --background-color: #7F7979;
    --card-color: #C1BDB3;
    --under-card-color: #5F5B6B;
    --border-radius-card: 5px;
    --border-radius-under-card: 10px;
    --box-shadow: 1px 5px 5px #3c3744;
    --box-shadow-under: 0 1rem 3rem  #472836 ;
}

.dark-theme{
    --background-color: #424242;
    --card-color: #7F7979;
    --under-card-color: #323031;
    --box-shadow: 1px 5px 5px #051014;
    --box-shadow-under: 0 1rem 3rem  #472836 ;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive, sans-serif;
}
body{
    background-color: var(--background-color);
}
header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

header div{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
header img{
    max-width:5%;
    border:1px solid black;
    border-radius: 50%;
    margin:1rem;
}
header span{
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: var(--card-color);
    border-radius: var(--border-radius-card);
    padding:0.3rem;
    margin-right:2rem;
}

.container{
    display:grid;
    width:97%;
    gap:1.8rem;
    grid-template-columns: 20rem auto;
    margin: 0 auto 1rem;
}

span{
    max-width: 50%;
}
aside{
    display:flex;
    flex-direction: column;
    background-color:var(--under-card-color);
    border-radius: var(--border-radius-under-card);
    /*box-shadow: var(--box-shadow-under);*/
}
/*night+add*/
.buttons{
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
}

.buttons span{
    background-color: var(--card-color);
    padding: 0.2rem;
    margin-right:1rem;
    margin-top: 1rem;
    border-radius: var(--border-radius-card);
}

.buttons span:hover{
    box-shadow: var(--box-shadow);
}

span:hover{
    cursor: pointer;
}
.babies section{
    font-size: 1rem;
    font-weight: bolder;
    align-items: center;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin:1rem;
    background-color: var(--card-color);
    padding:1rem;
    border-radius: var(--border-radius-card);
}

.babies section:hover{
    box-shadow: var(--box-shadow);
}

.babies section:last-child{
    margin-bottom:5rem;
}

.actions section{
    font-size: 1rem;
    font-weight: bolder;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin:1rem;
    background-color: var(--card-color);
    padding:1rem;
    border-radius: var(--border-radius-card);
}
.actions section:hover{
    box-shadow: var(--box-shadow);
}
.baby-info{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.baby-info img{
    max-width: 20rem;
    border-radius:50%;
    margin:1rem;
    padding:1rem;
}

.baby-buttons{
    font-weight: bolder;
    /*margin-left:2rem;*/
    /*margin-right:2rem;*/
    background-color: var(--under-card-color);
    padding:1rem 4rem;
    border-radius: var(--border-radius-under-card);
    margin-bottom: 1rem;
    margin-left:2rem;
    /*box-shadow: var(--box-shadow-under);*/
}

.gallery-edit{
    display: flex;
    flex-direction: column;
}

.gallery-edit button{
    font-weight: bolder;
    font-size: 1rem;
    background-color: var(--card-color);
    border: 0;
    padding:0.5rem 3rem;
    border-radius: var(--border-radius-card);
    margin-bottom:0.5rem;
}

.gallery-edit button:hover{
    box-shadow: var(--box-shadow);
    cursor: pointer;
}

.show-information{
    background-color: var(--under-card-color);
    padding:20rem;
    border-radius: var(--border-radius-under-card);
    /*box-shadow: var(--box-shadow-under);*/
}

@media (max-width: 1400px) {
    .container{
        grid-template-columns: 15rem auto;
    }
    .babies section, .actions section {
        font-size: 0.7rem;
    }
    .baby-info img {
        max-width: 17rem;
        margin:0;
    }
    .baby-info{
        justify-content: center;
    }
    header img {
        max-width: 4%;
    }
}
.mobile{
    display: none;
}

@media (max-width: 1000px)  {
    .container {
        display:flex;
        flex-direction: column-reverse;
        width:94%;
        /*margin: 0 auto;*/
        /*gap:1.8rem;*/
        /*margin-bottom:1rem;*/
    }
    .baby-info img {
        max-width: 13rem;
        margin:0;
    }
    .baby-info{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .baby-buttons{
        margin: 0 0 1rem;
        padding:1rem 5rem;
    }
    .baby-buttons button{
        padding: 0.5rem 2rem;
    }
    .show-information{
        padding:10rem;
    }
    header{
        background-color: var(--under-card-color);
        position: sticky;
        top:0;
        box-shadow: 0 1rem 3rem #3c3744;
    }
    header img {
        max-width: 6%;
    }
    .mobile{
        display: block;
        padding: 0.5rem 3rem;
    }
    aside{
        display:none;
    }
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .menu{
        margin-left:2rem;
        padding:0;
    }

}