
:root{
    --background-color: #7F7979;
    --card-color: #C1BDB3;
    --under-card-color: #5F5B6B;
    --border-radius-card: 5px;
    --border-radius-under-card: 10px;
    --box-shadow: 1px 5px 5px #3c3744;
    --box-shadow-under: 0 1rem 2rem  #22162b ;
    --font-color: black;
    --background-img: url("../images/bg.jpg");
    --sidebar-shadow: #3c3744;
}

.dark-theme{
    --background-color: #424242;
    --card-color: #443C68;
    --under-card-color: #15142f;
    --box-shadow: 1px 5px 5px #051014;
    --box-shadow-under: 0 1rem 3rem #2e2e4f;
    --font-color: #C1BDB3;
    --sidebar-shadow: #2e2e4f;
    --background-img: url("../images/darkbg.jpg");
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Righteous', cursive, sans-serif;

}
body{
    color: var(--font-color);
    background-image: var(--background-img);
}


.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    /*background-color: #9c9992;*/
    /*width:100vw;*/
}
.sidebar{
    background-color: var(--under-card-color);
    box-shadow: 1px 5px 20px var(--sidebar-shadow);
    min-height: 100vh;
    width:20rem;
    display:flex;
    justify-content: normal;
    flex-direction: column;
    align-items: center;
    padding-top:1rem;
}
.menu {
    display:flex;
    justify-content: normal;
    flex-direction: column;
    align-items: center;
}

.child-pfp{
    border-radius: 50%;
    height: 6rem;
    width:6rem;
    cursor: pointer;
    margin-right: 1rem;
}

.maintext{
    font-size: 1.5rem;
    font-weight: normal;
    color: var(--font-color);

}

.child-profile{
    display: flex;
    padding-left: 0.5rem;
    align-items: center;
    width:18rem;
}

.overview , .feeding , .sleeping , .likes , .child , .gallery{
    height: 3.5rem;
    margin: 1rem;
    display: flex;
    border-radius: 0.4rem;
    width:16rem;
    cursor: pointer;
    align-items: center;
    padding-left: 0.5rem;
    font-size: 1.5rem;
    font-weight: normal;
}

.search{
    display:flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.search span{
    background-color: var(--card-color);
    padding: 0.5rem;
    margin-right:1rem;
    margin-top: 1rem;
    border-radius: var(--border-radius-card);
    box-shadow: var(--box-shadow);

}

.search span:hover, .sidebutton:hover, span:hover, .parent span:hover, .account-overview input[type=submit]:hover, input[type=file]::file-selector-button:hover{
    background: #9c9992;
    cursor: pointer;
}

.sidebutton{
    transition: 0.15s ease;
    background: var(--card-color);
    box-shadow: var(--box-shadow);
}

.child-list {
    margin-top: 3rem;
}

.text{
    margin-left:1.5rem;
}
.main {
    width: 100%;
}

#greeting{
    font-size: 2rem;
}
.parent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.parent a{
    text-decoration: none;
    outline: none;
    color:var(--font-color);
    width: 10rem;
}
.parent p{
    margin-left: 2rem;
    font-size: 2.5rem;
}
.parent span{
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: var(--card-color);
    border-radius: var(--border-radius-card);
    padding:0.6rem;
    margin-right: 0.5rem;
    box-shadow: 1px 5px 5px #3c3744;
}

.parent div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right:3rem;
}

.parent img {
    max-width: 30%;
    border-radius: 50%;
    margin:1rem;
    float:right;
    box-shadow: 1px 5px 5px #3c3744;
}

.account-overview{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 4rem;
    background-color: var(--under-card-color);
    box-shadow: var(--box-shadow-under);
    border-radius: var(--border-radius-under-card);
    padding: 4rem;

}

.account-overview label {
    align-items: flex-start;
    color: var(--font-color);
}

textarea {
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: var(--card-color);
}

/*.account-overview input[type=submit], input[type=file]::file-selector-button {*/
/*    background-color: var(--card-color);*/
/*    border-radius: var(--border-radius-card);*/
/*    padding:0.6rem;*/
/*    margin-top: 1rem;*/
/*    margin-bottom: 0.5rem;*/
/*    box-shadow: 1px 5px 5px #3c3744;*/
/*    border: none;*/
/*    font-family: 'Righteous', cursive, sans-serif;*/
/*    transition: background .2s ease-in-out;*/
/*}*/
/*.account-overview input[type=submit]{*/
/*    margin-bottom: 2rem;*/
/*    margin-top: 0.5rem;*/
/*}*/

.account-overview button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--card-color);
    border-radius: var(--border-radius-card);
    padding:0.5rem;
    margin-top:1.5rem;
    margin-bottom: 1rem;
    box-shadow: 1px 5px 5px #3c3744;
    border: none;
}

.SLEEPING-SCHEDULE,.FEEDING-TIME,.LIKES, .GALLERY, .EDIT-CHILD{
    display:none;
}

.SLEEPING-SCHEDULE table{
    flex-direction: column;
    background-color: var(--card-color);
    width:99%;
    text-align: center;
    border-radius: var(--border-radius-under-card);
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
}

tbody td{
    padding:0.5rem;
}

.show-files,.sleep-form,.form-table{
    display: none;
}

.calendar-pic img{
    max-width: 30%;
}
.calendar-pic{
    display:flex;
    flex-direction:row;
    justify-content: flex-start;
    align-items: center;
    gap:3rem;
}
.info-child p{
    font-size: 1rem;
    color:var(--font-color );
}
form label{
   margin-bottom:1rem;
}

form input,form select{
    color: var(--font-color);
    padding:0.5rem;
    border-radius: var(--border-radius-under-card);
    border:none;
    background-color: var(--card-color);
}

.update button{
    margin-top:2rem;
    padding:0.5rem;
}
h2{
    font-size: 2rem;
}
.bookmarks{
    display: flex;
    flex-direction: row;
    gap:2rem;
    justify-content: flex-start;
    align-items: center;
}
.bookmarks span{
    margin-top:0.3rem;
    padding:0.2rem;
    background-color: var(--card-color) ;
    border-radius: var(--border-radius-under-card);
}

.timeline-img img{
    max-width: 20%;
}
.timeline-img h2:hover{
    cursor:pointer;
}
.timeline-img{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:2rem;
}
.date p{
    text-align: center;
}
.calendar-meal img{
    max-width:30%;
}
.calendar-meal p{
    margin: 5rem;
}
.calendar-meal{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:2rem;
}
/*------------------------------------------RESPONSIVE--------------------------------------------------------------*/

@media (max-width: 1800px){
    .main {
        width: 90%;
    }
    .overview , .feeding , .sleeping , .likes , .child , .gallery{
        height: 3rem;
        display: flex;
        cursor: pointer;
        font-size: 1rem;
    }
    .child-list {
        margin-top: 2rem;
    }
    .search{
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .search span{
        margin-bottom: 1rem;
    }
    .account-overview {
        margin: 2rem;
        padding: 2rem;
    }
    textarea {
        margin-top: 1rem;
        margin-bottom: 1rem;
        margin-right: 2rem;
        background-color: var(--card-color);

    }


}

@media (max-width: 1500px) {
    .sidebar {
        width: 15rem;
    }

    .child-pfp {
        margin-left: 1rem;
    }

    /*.child name p {*/
    /*    font-size: smaller;*/
    /*}*/

    .child-profile {

        justify-content: flex-start;
        gap: 0;
    }

    .text {
        margin-left: 0;
    }
    .search span{
        padding:0.3rem;
    }
}

@media screen and (max-width: 1000px){
    .main {
        width: 50%;
    }
    .parent div{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
    .account-overview{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        margin: 2rem;
        padding: 2rem;
        /*width:10%;*/
    }
    .sidebar{
        width:15rem;
    }

}
@media (max-width:550px) {

    .image{
        height: 3.3rem;
        width:3.3rem;
    }

}

@media (max-width: 800px) {
    .container {
      flex-direction: column;
      align-items: center;
    }
    .sidebar {
      width: 60%;
      margin-bottom: 2rem;
    }
    .main {
      width: 80%;
    }
    .parent {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
    .parent p {
      margin-left: 0;
      margin-bottom: 1rem;
    }
    .parent img {
      float: none;
      max-width: 40%;
      margin: 0;
    }
    .account-overview {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
    .account-overview label {
      margin-bottom: 0.5rem;
    }
  }
  
