:root {
    --background-color: #7F7979;
    --card-color: #C1BDB3;
    --under-card-color: #5F5B6B;
    --border-radius-card: 5px;
    --border-radius-under-card: 10px;
    --box-shadow: 1px 5px 5px #3c3744;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Righteous', cursive, sans-serif;
}

body {
    background-color: var(--background-color);
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.banner {

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 20rem;

    font-size: 1.7rem;
    font-weight: bold;
    background-color: var(--under-card-color);
    border-radius: 20px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
}

.signup {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 4rem;
}

.signup-box {
    margin-top: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:2rem;
    margin-bottom:5rem;

}

.left-parent-info, .right-parent-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    padding: 3rem;
    background-color: var(--under-card-color);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    border-radius: var(--border-radius-under-card);
}

.pfp-parent{
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
}

.profile-picture button {
    padding: 6rem;
    border-radius: 50%;
    background: var(--card-color);
    box-shadow: var(--box-shadow);
    border: none;
}

.child-list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.child-list div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.child-list button {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    margin-top: 1rem;
    padding: 0.5rem;
    font-size: 1rem;

    background: var(--card-color);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius-card);
    border: none;
}
.child-list button:hover{
    background: #9c9992;
    cursor: pointer;
}

span:hover{
    cursor: pointer;
}

.pfp {
    background: var(--card-color);
    box-shadow: var(--box-shadow);

    margin-top: 1rem;
    padding: 1.2rem;
    border-radius: 50%;
}

.registered-child {
    width: 15rem;
    margin-left: 1rem;
}

.div-family {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    font-size: 1.5rem;
    gap: 1rem;
}
.div-family:hover{
    cursor:pointer;
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.form input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;

    padding: 1.5rem 2rem;
    font-size: 1rem;

    background: var(--card-color);
    box-shadow: var(--box-shadow);
    border-radius: 10px;
    border: none;
}

.modify-profile {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 1rem;
}

.modify-profile button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1rem;

    padding: 0.5rem 0.5rem;
    font-size: 1.2rem;
    background: var(--card-color);
    box-shadow: var(--box-shadow);
    border-radius: 10px;
    border: none;
}
.modify-profile button:hover{
    background: #9c9992;
    cursor: pointer;
}

.already-exists {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    justify-content: center;
    align-items: center;
    gap: 1rem;

}
