<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>kiddoCare</title>
    <link rel="stylesheet" href="/css/editProfileStyle.css">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Righteous:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>

<body>
<header>
    <div class="banner">
        <a href="/views/main.html" class="left-button"><span class="material-symbols-rounded">reply</span></a>
        <span class="banner-text">kiddoCare</span>
        <a href="/views/login.html" class="right-button"><span class="material-symbols-rounded">logout</span></a>
    </div>
</header>
<div class="signup">
    <div class="signup-box">
        <section class="left-parent-info">
            <div class="pfp-parent">
                <img class="profile" src="/images/profile_pic.jpg" alt="">
                <div class="info-parent">
                    <h3>PARENT NAME</h3>
                    <h3>example@gmail.com</h3>
                </div>
            </div>

            <div class="child-list">
                <div>
                    <button class="registered-child">Child#1</button>
                    <button class="remove-child"><span class="material-symbols-rounded">close</span></button>
                </div>
                <div>
                    <button class="registered-child">Child#2</button>
                    <button class="remove-child"><span class="material-symbols-rounded">close</span></button>
                </div>

            </div>
        </section>

        <div class="right-parent-info">
            <div class="form">
                <div class="verify">
                    <input placeholder="Change name" type="text">
                    <button class="check-btn"><span class="material-symbols-rounded">data_check</span></button>
                </div>
                <div class="verify">
                    <input type="email" placeholder="example@gmail.com">
                    <button class="check-btn"><span class="material-symbols-rounded">data_check</span></button>
                </div>
                <div class="verify">
                    <input type="email" placeholder="Alternate emails">
                    <button class="check-btn"><span class="material-symbols-rounded">data_check</span></button>
                </div>
                <div class="verify">
                    <input type="password" placeholder="********">
                    <button class="check-btn"><span class="material-symbols-rounded">data_check</span></button>
                </div>
            </div>
            <div class="modify-profile">
                <button>New profile pic</button>
            </div>
            <!-- <div class="modify-profile">
                <button >Edit profile</button>
            </div> -->
        </div>
    </div>
</div>
<script src="/scripts/editProfileFunctions.js"></script>
</body>
</html>
