<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>kiddoCare</title>
    <link rel="stylesheet" href="/css/loginStyle.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Righteous:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <script src="/scripts/loginFunctions.js" defer></script>
    <script src="/scripts/darkTheme.js" defer></script>
</head>

<body>
<div class="container">

    <div class="logo">
        <img src="/images/baby.png" alt="">
        <h1> kiddoCare </h1>
    </div>

    <div class="right-part">
        <div class="credentials">
            <div class="input-box email-box">
                <input type="email" id="email" name="email" placeholder="example@adress.com">
            </div>

            <div class="input-box password-box">
                <input type="password" id="password" name="password" placeholder="********">
            </div>
        </div>
        <span id="login-button">LOGIN</span>

        <div class="section">
            <span><a href="/views/signUp.html">SIGN UP</a></span>
            <span><a href="/documentation/documentation.html" target="_blank" rel="noreferrer noopener">DOCS</a></span>
        </div>
    </div>
</div>
</body>

</html>
