
:root {
    --background-color: #7F7979;
    --card-color: #C1BDB3;
    --under-card-color: #5F5B6B;
    --border-radius-card: 5px;
    --border-radius-under-card: 10px;
    --box-shadow: 1px 5px 5px #3c3744;
    --box-shadow-under: 0 1rem 2rem #22162b;
    --font-color: black;
    --background-img: url("/images/bg.jpg");
    --sidebar-shadow: #3c3744;
    --shadow-buttons: 1px 5px 5px #3c3744;
}

.dark-theme {
    --background-color: #424242;
    --card-color: #443C68;
    --under-card-color: #15142f;
    --box-shadow: 1px 5px 5px #051014;
    --box-shadow-under: 0 1rem 3rem #051014;
    --font-color: #C1BDB3;
    --sidebar-shadow: #051014;
    --background-img: url("/images/darkbg.jpg");
    --shadow-buttons: 1px 5px 5px #051014;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Righteous', cursive, sans-serif;

}

button {
    color: var(--font-color);
}

body {
    color: var(--font-color);
    background-image: var(--background-img);
}

header {
    display: none;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    /*background-color: #9c9992;*/
    /*width:100vw;*/
}

.sidebar {
    background-color: var(--under-card-color);
    /*box-shadow: 1px 5px 20px var(--sidebar-shadow);*/
    min-height: 100vh;
    width: 20rem;
    display: flex;
    justify-content: normal;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
}

.menu {
    display: flex;
    justify-content: normal;
    flex-direction: column;
    align-items: center;
}

.child-pfp {
    border-radius: 50%;
    max-width: 35%;
    cursor: pointer;
    /*margin-right: 1rem;*/
    transition: all 2s ease;

}

.child-pfp:hover {
    /*max-width:37%;*/
    box-shadow: var(--box-shadow);

}


.maintext {
    font-size: 1.5rem;
    font-weight: normal;
    color: var(--font-color);

}

.child-profile {
    display: flex;
    padding-left: 0.5rem;
    align-items: center;
    width: 18rem;
}

.overview, .feeding, .sleeping, .likes, .child, .gallery {
    height: 3.5rem;
    margin: 1rem;
    display: flex;
    border-radius: 0.4rem;
    width: 16rem;
    cursor: pointer;
    align-items: center;
    padding-left: 0.5rem;
    font-size: 1.5rem;
    font-weight: normal;
}

.search {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.search button {
    background-color: var(--card-color);
    padding: 0.5rem;
    margin-right: 1rem;
    margin-top: 1rem;
    border-radius: var(--border-radius-card);
    box-shadow: var(--box-shadow);

}

.file-input button:hover, input[type=date]:hover, .search button:hover, .sidebutton:hover, span:hover, .parent span:hover, .account-overview input[type=submit]:hover, input[type=file]::file-selector-button:hover {
    background: #9c9992;
    cursor: pointer;
}

.sidebutton {
    transition: 0.15s ease;
    background: var(--card-color);
    box-shadow: var(--box-shadow);
}

.child-list {
    margin-top: 3rem;
}

.text {
    margin-left: 1.5rem;
}

.main {
    width: 100%;
}

#greeting {
    font-size: 2rem;
}

.parent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.parent a {
    text-decoration: none;
    outline: none;
    color: var(--font-color);
    width: 10rem;
}

.parent p {
    margin-left: 2rem;
    font-size: 2.5rem;
    transition: all 1s ease-out;
}

.parent span {
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: var(--card-color);
    border-radius: var(--border-radius-card);
    padding: 0.6rem;
    margin-right: 0.5rem;
    box-shadow: var(--shadow-buttons);
}

.parent div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 3rem;
}

.parent img {
    max-width: 30%;
    border-radius: 50%;
    margin: 1rem;
    float: right;
    box-shadow: var(--shadow-buttons);
}

.account-overview {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 4rem;
    background-color: var(--under-card-color);
    /*box-shadow: var(--box-shadow-under);*/
    border-radius: var(--border-radius-under-card);
    padding: 4rem;

}

.account-overview label {
    align-items: flex-start;
    color: var(--font-color);
}

textarea {
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: var(--card-color);
    resize: none;
}

.child-list {
    max-height: 370px;
    overflow-y: auto;
}

.show-files {
    max-height: 150px;
    overflow-y: auto;
    overflow-x: hidden;
}

.account-overview button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--card-color);
    border-radius: var(--border-radius-card);
    padding: 0.5rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    box-shadow: 1px 5px 5px #3c3744;
    border: none;
}

.delete-button {
    color: black;
    height: 1.5rem;
    width: 1.5rem;
    font-size: 0.2em;
    border: none;
    background: none;
}

.SLEEPING-SCHEDULE, .FEEDING-TIME, .LIKES, .GALLERY, .EDIT-CHILD {
    display: none;
}

.SLEEPING-SCHEDULE table, .FEEDING-TIME table {
    flex-direction: column;
    background-color: var(--card-color);
    width: 99%;
    text-align: center;
    border-radius: var(--border-radius-under-card);
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
}

tbody td {
    padding: 0.5rem;
}

.show-files, .sleep-form, .form-table {
    display: none;
}

.calendar-pic img {
    max-width: 30%;
}

.calendar-pic {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 3rem;
}

.info-child p {
    font-size: 1rem;
    color: var(--font-color);
}


.calendar-meal,
.calendar-sleep {
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 500px;
}

form input[type=date], form input[type=submit], form select {
    color: var(--font-color);
    padding: 0.5rem;
    border-radius: var(--border-radius-under-card);
    border: none;
    background-color: var(--card-color);
    box-shadow: 1px 5px 5px #3c3744;

}

#add-media input[type=date], input[type=text], select, .sleep-form input[type=time] {
    color: var(--font-color);
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    border-radius: var(--border-radius-under-card);
    border: none;
    background-color: var(--card-color);
    box-shadow: 1px 5px 5px #3c3744;
}

.account-overview input[type=file]::file-selector-button {
    background-color: var(--card-color);
    border-radius: var(--border-radius-card);
    padding: 0.6rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    border: none;
    font-family: 'Righteous', cursive, sans-serif;
    transition: background .2s ease-in-out;
    box-shadow: 1px 5px 5px #3c3744;

}

.update button {
    padding: 0.5rem;
}

h2 {
    font-size: 2rem;
}

.bookmarks {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: flex-start;
    align-items: center;
}

.bookmarks span {
    margin-top: 0.3rem;
    padding: 0.2rem;
    background-color: var(--card-color);
    border-radius: var(--border-radius-under-card);
}

.timeline-img img {
    max-width: 20%;
}

.timeline-img h2:hover {
    cursor: pointer;
}

.timeline-img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.date p {
    text-align: center;
}


/*.calendar-meal p{*/
/*    margin: 5rem;*/
/*}*/


input:hover {

}

#vertical {
    display: none;
}


/*---------------------------------------------- edit-child-profile ----------------------------------------------*/

.section-edit {
    display: flex;
    flex-direction: row;
    justify-content: normal;
    align-items: center;

}

.update {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-right: 4rem;
}


.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.verify {
    display: flex;
    align-items: center;
}

.form-child input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 0.5rem;
    font-size: 1rem;

    background: var(--card-color);
    box-shadow: var(--box-shadow);
    border-radius: 0.5rem;
    border: none;
}


.form-child input[type=file]::file-selector-button {
    background-color: var(--card-color);
    padding: 0.6rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    border: none;
    border-radius: 10px;
    font-family: 'Righteous', cursive, sans-serif;
    font-size: 1rem;
    transition: background .2s ease-in-out;
    box-shadow: 1px 5px 5px #3c3744;

}

.form-child input[type=file] {
    background: none;
    box-shadow: none;
    font-size: 0rem;
    margin: 0rem 5.1rem 0rem 0rem;
    padding: 0.5rem 0.5rem 0.5rem 0rem;

}


#hbd {
    padding: 0.5rem 1.3rem;
}

.check-btn {
    margin-left: 10px;
    max-height: 43px;
    background: var(--card-color);
    box-shadow: var(--box-shadow);
    border: none;
    border-radius: 2px;
}

.check-btn:hover {
    background: #9c9992;
    cursor: pointer;
}

.med h2 {
    margin-top: 1rem;
}

.med form {
    display: flex;
    flex-direction: column;
}

.med input[type=file] {
    font-size: 1rem;
}

/*---------------------------------------------- gallery + timeline ----------------------------------------------*/
#gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.gallery-item {
    width: 32%;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.gallery-image {
    width: 100%;
    height: auto;

}

.gallery-video {
    object-fit: cover;
}

.gallery-item video,
.gallery-item img {
    display: block;
}

video {
    width: 100%;
    height: 50%;

}

.gallery-description, .gallery-date {
    background-color: var(--card-color);
    padding: 0.5rem;
    border-radius: var(--border-radius-card);
    text-align: center;
    margin-top: 10px;
}

.timeline-row {
    text-align: center;
}

.timeline-media-container {
    display: inline-block;
    width: 30%;
    text-align: center;
    margin: 10px;
}

.timeline-media {
    max-width: 100%;
    height: auto;
    display: block;
}

.timeline-media-container p {
    margin-top: 5px;
}

/*------------------------------------------ pop-up --------------------------------------------------------------*/


.pop-up {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--background-color);
    box-shadow: 0 2rem 10rem #363949;
    border-radius: 10px;
    border: none;
    z-index: 10;
    width: 500px;
    max-width: 80%;
    max-height: 90%;
    padding: 1rem 1rem;
    transition: 200ms ease-in-out;
    visibility: hidden;

}

.pop-up.active {
    visibility: visible;
}

.pop-up-profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.pfp-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.pop-up button {
    display: flex;
    flex-direction: row;
    background: var(--card-color);
    box-shadow: var(--box-shadow);
    border-radius: 10px;
    border: none;

}

.profile-picture-child button {
    padding: 4rem;
    border-radius: 50%;
}

input[name="name"] {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem 1.5rem;
    margin-bottom: 0.5rem;
}

input[name="date"] {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem 2.8rem;
    margin-top: 1rem;
}

input[name="details"] {
    margin-left: 0.4rem;
    width: 7.2rem;
}

input[name="gender-type"] {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.alignment {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;

}

.choose-gender {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 0rem;
    margin-right: 2rem;
    margin-top: 2rem;
    font-size: 1.2rem;
    gap: 0.7rem;
}

.g1 {
    margin-left: 2rem;
}

.choose-gender, .choose-gender label:hover, .choose-gender input:hover {
    cursor: pointer;
}

.medical {
    justify-content: space-between;
    margin-top: 1rem;
    padding: 0.7rem 2.3rem;
    font-size: 1rem;
}

.medical div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.upload {
    display: flex;
    margin-left: 2rem;

}

.finish {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
    padding: 0.5rem 0.5rem;
    font-size: 1rem;

}

.finish:hover, .medical:hover, input[name="name"]:hover, .profile-picture-child button:hover {
    background: #9c9992;
    cursor: pointer;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.form input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;

    padding: 0.8rem 1rem;
    font-size: 1rem;

    background: var(--card-color);
    box-shadow: var(--box-shadow);
    border-radius: 10px;
    border: none;
}

.profile-picture-child input[type=file]::file-selector-button {
    background-color: var(--card-color);
    padding: 0.6rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    border: none;
    border-radius: 10px;
    font-family: 'Righteous', cursive, sans-serif;
    font-size: 1rem;
    transition: background .2s ease-in-out;
    box-shadow: 1px 5px 5px #3c3744;

}

.profile-picture-child input[type=file] {
    background: none;
    box-shadow: none;
    margin: 0rem 0rem 0rem 3rem;
    padding: 0.5rem 0.2rem 0.5rem 0rem;
}

.pop-up.active {
    visibility: visible;
}

.main.active, .sidebar.active, .account-overview.active {
    filter: blur(5px);
    -webkit-filter: blur(5px);
    pointer-events: none;
}

.pop-up-profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.pfp-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.pop-up button {
    display: flex;
    flex-direction: row;
    background: var(--card-color);
    box-shadow: var(--box-shadow);
    border-radius: 10px;
    border: none;

}

.profile-picture-child button {
    padding: 4rem;
    border-radius: 50%;
}

input[name="name"] {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem 1.5rem;
    margin-bottom: 0.5rem;
}

input[name="date"] {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem 2.8rem;
    margin-top: 1rem;
}

input[name="details"] {
    margin-left: 0.4rem;
    width: 7.2rem;
}

input[name="gender-type"] {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.alignment {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;

}

.medical {
    justify-content: space-between;
    margin-top: 1rem;

    padding: 0.7rem 2.3rem;
    font-size: 1rem;
}

.medical div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.upload {
    display: flex;
    margin-left: 2rem;

}

.finish {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
    padding: 0.5rem 0.5rem;
    font-size: 1rem;

}

.finish:hover, .medical:hover, input[name="name-pop"]:hover, .profile-picture-child button:hover {
    background: #9c9992;
    cursor: pointer;
}

#kid-pic {
    margin-right: 0.5rem;
}

#gallery {
    overflow-x: hidden;
    overflow-y: auto;
    height: 600px;
}


/*------------------------------------------ responsive --------------------------------------------------------------*/

@media (max-width: 1800px) {
    .main {
        width: 90%;
    }

    .overview, .feeding, .sleeping, .likes, .child, .gallery {
        height: 3rem;
        display: flex;
        cursor: pointer;
        font-size: 1rem;
    }

    .child-list {
        margin-top: 2rem;
    }

    .search {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .search button {
        margin-bottom: 1rem;
    }

    .account-overview {
        flex-direction: row;
        margin: 1rem;
        padding: 3rem;
    }

    textarea {
        margin-top: 1rem;
        margin-bottom: 1rem;
        margin-right: 2rem;
        background-color: var(--card-color);

    }

    .file-input {
        display: flex;
        flex-direction: column;
    }

}

@media (max-width: 1500px) {

    body {
        overflow: visible;
    }

    .sidebar {
        width: 16rem;
        min-height: 100vh;
    }

    .overview, .feeding, .sleeping, .likes, .child, .gallery {
        height: 3rem;
        width: 12rem;
        font-size: 1.2rem;
    }

    .child-pfp {
        margin-left: 1rem;
    }

    .child-profile {
        justify-content: flex-start;
        gap: 0;
    }

    #gallery {
        overflow-x: hidden;
        overflow-y: auto;
        max-height: 250px;
    }

    .text {
        margin-left: 0;
    }

    .search button {
        padding: 0.3rem;
    }

    .parent p {
        margin-left: 2rem;
        font-size: 1.5rem;
    }

    #description-day {
        display: none;
    }

    #vertical {
        display: inline;
    }

    .account-overview input[type=submit], input[type=file]::file-selector-button {
        background-color: var(--card-color);
        border-radius: var(--border-radius-card);
        padding: 0.6rem;
        margin-top: 1rem;
        margin-bottom: 0.5rem;
        border: none;
        transition: background .2s ease-in-out;
        box-shadow: 1px 5px 5px #3c3744;

    }
}

.parent .mobile-on, .links .mobile-on {
    display: none;
}

.form-add-image {
    display: none;
}

a, a:visited {
    text-decoration: none;
    outline: none;
    color: var(--font-color);

}

@media (max-width: 1000px) {
    .parent div {
        flex-direction: column;
        justify-content: center;
        margin-right: 0;
    }

    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .sticky-header {
        background-color: var(--under-card-color);
        box-shadow: var(--box-shadow);
        top: 0;
        position: sticky;
    }

    .drop {
        margin-left: 1rem;
    }

    .mobile-pic img {
        float: right;
        margin-right: 1rem;
    }

    .mobile-pic {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        margin-right: 1rem;
    }

    .child-profile {
        display: flex;
        padding-left: 0;
        justify-content: center;
        align-items: center;
        width: 18rem;
    }

    header span {
        padding: 0.3rem;
        margin-right: 1rem;
        border-radius: var(--border-radius-card);
        background-color: var(--card-color);
    }

    header img {
        border-radius: 50%;
        max-width: 10%;
        margin: 0.5rem 0;
    }

    .med {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .container {
        flex-direction: column;
        align-items: center;
    }

    .sidebar {
        display: none;
    }

    .parent {
        margin-top: 3rem;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .parent .mobile-off {
        display: none;
    }

    .sidebar .child-pfp {
        margin-top: 3rem;
    }

    .parent .mobile-on {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 1rem;
    }

    .overview, .feeding, .sleeping, .likes, .child, .gallery {
        width: 20rem;
        text-align: center;
        margin-right: 0;
    }

    .links .mobile-on {
        margin-top: 2rem;
        /*padding:0.3rem;*/
        box-shadow: var(--box-shadow);
        border-radius: var(--border-radius-under-card);
        background-color: var(--card-color);
        display: block;
        text-align: center;
    }

    .parent p {
        margin: 0;
    }

    .parent .title {
        font-size: 2rem;
    }

    .account-overview {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .account-overview label {
        margin-bottom: 0.5rem;
    }

    .calendar-meal, .calendar-pic {
        flex-direction: column;
        gap: 1rem;
    }

    #gallery {
        overflow-x: hidden;
        overflow-y: auto;
        max-height: 250px;
    }

    .bookmarks, .feed, .EDIT-CHILD button {
        display: flex;
        gap: 1rem;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 850px) {
    .section-edit {
        display: flex;
        flex-direction: column;
        justify-content: normal;
        align-items: center;
        margin-left: 5rem;

    }

    .update {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: 4rem;
    }

    .med h2 {
        margin-top: 1rem;
        margin-right: 4rem;
    }

    .med form {
        display: flex;
        flex-direction: column;
    }

    .med input[type=file] {
        font-size: 1rem;
    }

    #gallery {
        overflow-x: hidden;
        overflow-y: auto;
        max-height: 250px;
    }

    .form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .feed {
        flex-direction: column;
        align-items: flex-start;
    }

    #napFormDate label,
    #napFormDate select,
    #mealFormDate label,
    #mealFormDate select {
        display: block;
        width: 40%;
        margin-top: 5px;
    }

    .calendar-nap,
    .calendar-meal {
        font-size: 0.6rem;
    }

    .child-list {
        max-height: 200px;
    }

    header {
        height: 4rem;
    }

    header img {
        max-width: 15%;
    }

    .account-overview {
        width: 100%;
        margin: 1rem 0 2rem;
    }

    #vertical, #shopping-list {
        margin: 1rem 0 0;
    }

    /*.parent{*/
    /*    margin-left:2rem;*/
    /*}*/
    .calendar-pic img, .calendar-meal img {
        max-width: 70%;
    }

    .calendar-meal p {
        margin: 0;
    }
}

::-webkit-scrollbar {
    height: 0;
    width: 0;
}

.buttons span {
    background-color: var(--card-color);
    padding: 0.2rem;
    border-radius: var(--border-radius-card);
}

/*------------------------------------------ carousel --------------------------------------------------------------*/

#trending-wrapper {
    margin-top: 40px;
    width: 100%;
    max-width: 900px;
    height: 250px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    overflow: hidden;
    position: relative;
}

:root {
    --no-of-slides: 4;
    --slides-in-view: calc((min(900px, 100vw) / 130));
    --slide-width: 180px;
    --slide-height: 250px;
    --iteration-time: 20s;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(var(--slide-width) * var(--no-of-slides) * -1));
    }
}

.recommendation {
    display: block;
    max-height: 250px;
    max-width: 100%;
    border-radius: 10px;
    animation: scroll var(--iteration-time) linear infinite;
    cursor: pointer;
}
